div.content {
    padding: 2rem 16rem;
}

i {
    color: rgb(4, 107, 137);
}

div.name {
    font-size: 1.5rem;
}

div.designation {
    color: rgb(4, 107, 137);
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

span.role {
    color: rgb(4, 107, 137);
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

div.location {
    margin-top: 0.5rem;    
}

div.short-details {
    margin-top: 0.7rem;
}

div.short-details span {
    margin-right: 0.6rem;
}

div.details {
    margin-top: 3rem;
}

div.experience-column {
    display: inline-table;
    width: 60%;
}

div.abt-title {
    font-size: 1.5rem;
    color: rgb(4, 107, 137);
    padding-bottom: .3rem;
    border-bottom: 0.1rem solid;
}

div.career-column {
    display: inline-table;
    width: 39%;
}

span.skill {
    border: 0.05rem solid rgb(4, 107, 137);
    border-radius: 0.8rem;
    padding: 0.25rem 0.4rem;
    margin: 0.3rem 0.3rem;
    display: inline-block;
}

@media only screen and (max-width: 800px) {
    div.content {
        padding: 2rem 2rem;
    }
}
