div.content {
    padding: 2rem 1rem;
}

div.content i {
    color: #024559;
}

div.name {
    font-size: 1.5rem;
}

div.designation {
    color: #024559;
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

span.role {
    color: #024559;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

div.location {
    margin-top: 0.5rem;    
}

div.short-details > div {
    margin-right: 0.6rem;
    margin-top: 0.7rem;
    display: inline-block;
}

div.details {
    margin-top: 1.5rem;
}

div.experience-column {
    display: inline-table;
    width: 100%;
}

div.abt-title {
    font-size: 1.5rem;
    color: #024559;
    padding-bottom: .3rem;
    border-bottom: 0.1rem solid;
}

div.career-column {
    display: inline-table;
    width: 100%;
}

span.skill {
    border: 0.05rem solid #cccccc;
    border-radius: 0.8rem;
    padding: 0.25rem 0.4rem;
    margin: 0.3rem 0.3rem;
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    div.content {
        padding: 2rem 12rem;
    }

    div.experience-column {
        width: 60%;
    }

    div.career-column {
        width: 39%;
    }
}
