div.list {
    display: table;
    margin-bottom: 3rem;
}

div.list div.left-container {
    width: 100%;
    height: auto;    
}

div.list div.left-container img { 
    width: 100%;
    height: auto;
}

div.list div.body {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

div.list div.body div.list-header {
    background-color: #f6f6f6;
    padding: 1rem 0.6rem;
}

div.list div.body div.list-header div.list-title a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #024559;
}

div.list div.body div.list-header div.list-title a:hover {
    text-decoration: underline;
}

div.list div.body div.description {
    padding: 1rem 0.6rem;    
}

div.list div.body div.list-header-tools {
    float: right;
    position: relative;
    top: -24px;
}

div.list div.body div.list-header-tools a {
    margin-right: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
}

div.list div.body div.list-header-tools a:hover {
    text-decoration: underline;
}

div.list div.body div.list-header-tools a i {
    font-size: 1rem;
    margin-right: 0.3rem;
}

div.list div.body div.list-header-tools div.download-count {
    font-size: 1.2rem;
    margin-left: 0.3rem;
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    div.list div.body {
        width: 60%;
        display: table-cell;
    }
    div.list div.left-container {
        width: 35%;
        display: table-cell;
    }
    div.content {
        padding: 2rem 6rem;
    }
}