div.blog-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #024559;
    text-decoration: underline;
}

div.blog-list li {
    line-height: 2;
    font-size: 1.2rem;
}

div.blog-list li a {
    text-decoration: none;
}

div.blog-list li a:hover {
    text-decoration: underline;
}

div.content {
    padding: 2rem 1rem;
}

@media only screen and (min-width: 768px) {
    div.content {
        padding: 1rem 12rem;
    }
}