div.header {
    height: 4rem;
    background-color: #374571;
    position: relative;
}

div.navigator {
    position: absolute;
    left: 0;
    top: 1.9rem;
}

div.navigator a.navigator-btn {
    padding: 0.8rem 0.2rem;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: 500;
}

div.navigator a.navigator-btn.selected {
    border-bottom: 3px solid #6ca9e2;
}

div.navigator a.navigator-btn:hover {
    color: gray;
}

div.profile-links {
    position: absolute;
    right: 0.2rem;
}

div.profile-links a {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

div.profile-links a:hover {
    color: gray;
}

div.profile-links a.profile-photo img {
    width: 2.5rem;
    height: auto;
    border-radius: 2rem;
    position: relative;
    top: 0.80rem;
}

body {
    margin: 0;
    color: #202124;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, sans-serif;
}

div.content {
    padding: 1rem 0;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    width: 120px;
    height: 120px;
}

div.links a {
    text-decoration: none;
}

div.links a:hover {
    text-decoration: underline;
}

.hide {
    display: none;
}

.hide-xs {
    display: none;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 768px) {
    div.navigator a.navigator-btn {
        font-size: 1.2rem;
        padding: 0.3rem 1rem;
    }

    div.profile-links {
        right: 1rem;
    }

    div.profile-links a {
        margin-left: 1rem;
        font-size: 1.2rem;
    }

    div.content {
        padding: 1rem 2rem;
    }

    .hide-xs {
        display: inline;
    }
}

@media only screen and (min-width: 992px) {
    div.navigator {
        left: 10rem;
    }
}