div#slider-wrapper {
    position: relative;
}
div.slider-container {
    
position: relative;
}

div.slide {
    background-color: #0284A9;
}

div.slide-title {
    color: white;
    position: absolute;
    top: 20%;
    font-size: 3rem;
    padding-left: 7rem;
}

div.slide-details {
    top: 42%;
    left: 11rem;
    position: absolute;
}

div.slide-details a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
}

div.slide img {
    width: 100%;
    height: auto;
}

div.carousel-container i {
    font-size: 13px;
}

div.slider-nav-btn {
    position: absolute;
    font-size: 6rem;
    cursor: pointer;
    opacity: 0.2;
    z-index: 100;
}

div.slider-left-btn {
    top: 38%;
    left: 0;
}

div.slider-left-btn:hover {
    opacity: 1;
}

div.slider-right-btn {
    right: 0;
    top: 38%;
}

div.slider-right-btn:hover {
    opacity: 1;
}

div.carousel-container {
    text-align: center;
    margin-top: 2rem;
}

i.carousel {
    cursor: pointer;
}

div.card-container {
    text-align: center;
    margin-top: 3rem;
}

div.card {
    border: none;
    box-shadow: 0 0 0px rgba(0,0,0,.14), 0 4px 10px rgba(0,0,0,.28);
    height: 26rem;
    width: 28rem;
    position: relative;
    display: inline-table;
    margin-left: 20px;
}

div.card-header {
    height: 15rem;
}

div.card-header img {
    width: 100%;
    height: 100%;
}

div.card-body {
    padding: 10px 16px;
    text-align: left;
}

div.card-title a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(4, 107, 137);
}

div.card-title a:hover {
    text-decoration: underline;
}

div.card-details{
    padding-top: 1rem;
    font-size: 1rem;
}

div.card-footer {
    background-color: rgba(227, 227, 227, 0.31);
    padding: 16px 8px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

div.card-footer a {
    font-size: 1.3rem;
    color: rgb(4, 107, 137);
    text-decoration: none;
}

div.card-footer a:hover {
    text-decoration: underline;
}

div.download-container {
    float: right;
    position: relative;
    top: -3px;
}

div.download-container div.download-count {
    font-size: 16px;
    margin-left: 10px;
    display: inline-block;
}

div.canvas-card-container {
    text-align: center;
    margin-top: 4rem;
}

div.canvas-card {
    width: 35rem;
    height: 42rem;
}

div.canvas-card .card-header {
    height: 30rem;
}

#space-canvas {
    background-color: #000000;
    width: 100%;
    height: 100%;
}

#billiard-canvas {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 800px) {
    div.card, div.canvas-card{
        width: 100%;
        margin-left: 0;
    }
}