div.header {
    height: 4.2rem;
    background-color: #e9e9e9;
    position: relative;
}

div.navigator {
    position: absolute;
    right: 10rem;
    top: 2rem;
}

div.navigator a.navigator-btn {
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #202124;
}

body {
    margin: 0;
}

div.content {
    padding: 2rem 1.5rem;
}

div.card-container {
    text-align: center;
}

div.card {
    border: none;
    box-shadow: 0 0 0px rgba(0,0,0,.14), 0 4px 10px rgba(0,0,0,.28);
    height: 27rem;
    width: 28rem;
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

div.card-header {
    height: 15rem;
}

div.card-header img {
    width: 100%;
    height: 100%;
}

div.card-title a {
    font-size: 15px;
}

div.card-footer {
    background-color: #eaeaea;
    padding: 16px 8px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

div.download-container {
    float: right;
    position: relative;
    top: -3px;
}

div.download-container div.download-count {
    font-size: 16px;
    margin-left: 10px;
    display: inline-block;
}