div.title-header {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 35px;
}

div.section {
    margin-top: 2rem;
}

div.section-header {
    font-weight: 500;
    font-size: 25px;
}

div.section li {
    margin-top: 0.6rem;
}

div.content {
  padding: 2rem 1rem;
}

@media only screen and (min-width: 768px) {
  div.content {
    padding: 1rem 12rem;
  }
}
